 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>PLCs</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Siemens and Allen Bradley PLC Programming expertise, both modification of existing code and creation of new programs</p>
    </div>
    <div class="tech">
      <h2>Automation</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Allen Bradley Panelview 1400, Panelview Plus, Siemens Touchpanels, SICK Barcode Scanners</p>
    </div>
    <div class="tech">
      <h2>Robotics</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Experience with ABB and KUKU robotics and KRL programming.</p>
    </div>
</div>
